---
http_interactions:
- request:
    method: get
    uri: http://<%= api_key %>:X@bibles.org/v2/versions/ENG-CEV.js
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript
    body:
      encoding: US-ASCII
      string: ! '{"response":{"versions":[{"id":"eng-CEV","name":"Contemporary English
        Version (US Version)","lang":"eng-US","lang_code":"ISO 639-3","contact_url":"http:\/\/www.americanbible.org\/","audio":"NONE","copyright":"<p>Contemporary
        English Version\u00ae \u00a9 1995 American Bible Society.  All rights reserved.<\/p>\n<p>Bible
        text from the Contemporary English Version (CEV) is not to be reproduced in
        copies or otherwise by any means except as permitted in writing by American
        Bible Society, 1865 Broadway, New York, NY 10023 (<a href=\"http:\/\/www.americanbible.org\/\">www.americanbible.org<\/a>).<\/p>","info":"<h1>Contemporary
        English Version (US Version)<\/h1>\n<p>Uncompromising simplicity marked the
        American Bible Society''s translation of the Contemporary English Version
        that was first published in 1995. The text is easily read by grade schoolers,
        second language readers, and those who prefer the more contemporized form.
        The CEV is not a paraphrase; it is an accurate and faithful translation of
        the original manuscripts.<\/p>\n<p>After almost 200 years of ongoing ministry,
        American Bible Society invites people to experience the life-changing message
        of the Bible. Offering an increasing range of innovative ministries to address
        core life questions and struggles, the Bible Society partners with Christian
        churches and national Bible societies to share God\u2019s Word both in the
        United States and around the globe.<\/p>\n<p>For more information, visit <a
        href=\"http:\/\/www.americanbible.org\/\">www.americanbible.org<\/a>.<\/p>
        \n<p>To purchase a copy of this translation, visit <a href=\"http:\/\/www.bibles.com\/\">www.bibles.com<\/a>.<\/p>","lang_name":"English
        (US)","lang_name_eng":"English","abbreviation":"CEV","updated_at":""}],"meta":{"fums":"<script>\nvar
        _BAPI=_BAPI||{};\nif(typeof(_BAPI.t)===''undefined''){\ndocument.write(''\\x3Cscript
        src=\"''+document.location.protocol+''\/\/d2ue49q0mum86x.cloudfront.net\/include\/fums.c.js\"\\x3E\\x3C\/script\\x3E'');}\ndocument.write(\"\\x3Cscript\\x3E_BAPI.t(''526594a079fbe0.07561475'');\\x3C\/script\\x3E\");\n<\/script><noscript><img
        src=\"https:\/\/d3a2okcloueqyx.cloudfront.net\/nf1?t=526594a079fbe0.07561475\"
        height=\"1\" width=\"1\" border=\"0\" alt=\"\" style=\"height: 0; width: 0;\"
        \/><\/noscript>","fums_tid":"526594a079fbe0.07561475","fums_js_include":"d2ue49q0mum86x.cloudfront.net\/include\/fums.c.js","fums_js":"var
        _BAPI=_BAPI||{};if(typeof(_BAPI.t)!=''undefined''){ _BAPI.t(''526594a079fbe0.07561475'');
        }","fums_noscript":"<img src=\"https:\/\/d3a2okcloueqyx.cloudfront.net\/nf1?t=526594a079fbe0.07561475\"
        height=\"1\" width=\"1\" border=\"0\" alt=\"\" style=\"height: 0; width: 0;\"
        \/>"}}}'
  recorded_at: Mon, 21 Oct 2013 20:54:56 GMT
- request:
    method: get
    uri: http://<%= api_key %>:X@bibles.org/v2/chapters/eng-CEV:Gen.26.js?include_marginalia=true
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript
    body:
      encoding: US-ASCII
      string: ! '{"response":{"chapters":[{"auditid":"0","label":"","text":"<div id=\"Gen.26\"
        class=\"chapter\">\n<h3 class=\"s1\">Isaac and Abimelech<\/h3>\n<p class=\"p\"><span
        class=\"v0_26_1\"><sup id=\"Gen.26.1\" class=\"v0_26_1\">1<\/sup>Once during
        Abraham''s lifetime, the fields had not produced enough grain, and now the
        same thing happened. So Isaac went to King Abimelech of the Philistines in
        the land of Gerar, <\/span><span class=\"v0_26_2\"><sup id=\"Gen.26.2\" class=\"v0_26_2\">2<\/sup>because
        the LORD had appeared to Isaac and said:<\/span><\/p>\n<p class=\"pi\"><span
        class=\"v0_26_2\">Isaac, stay away from Egypt! I will show you where I want
        you to go. <\/span><span class=\"v0_26_3\"><sup id=\"Gen.26.3\" class=\"v0_26_3\">3<\/sup><a
        href=\"#Gen.26.3!x.1\" id=\"link_Gen.26.3!x.1\" class=\"notelink\">-<\/a>
        You will live there as a foreigner, but I will be with you and bles[...]
