---
http_interactions:
- request:
    method: get
    uri: http://<%= api_key %>:X@bibles.org/v2/versions/ENG-CEV.js
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript
    body:
      encoding: US-ASCII
      string: ! '{"response":{"versions":[{"id":"eng-CEV","name":"Contemporary English
        Version (US Version)","lang":"eng-US","lang_code":"ISO 639-3","contact_url":"http:\/\/www.americanbible.org\/","audio":"NONE","copyright":"<p>Contemporary
        English Version\u00ae \u00a9 1995 American Bible Society.  All rights reserved.<\/p>\n<p>Bible
        text from the Contemporary English Version (CEV) is not to be reproduced in
        copies or otherwise by any means except as permitted in writing by American
        Bible Society, 1865 Broadway, New York, NY 10023 (<a href=\"http:\/\/www.americanbible.org\/\">www.americanbible.org<\/a>).<\/p>","info":"<h1>Contemporary
        English Version (US Version)<\/h1>\n<p>Uncompromising simplicity marked the
        American Bible Society''s translation of the Contemporary English Version
        that was first published in 1995. The text is easily read by grade schoolers,
        second language readers, and those who prefer the more contemporized form.
        The CEV is not a paraphrase; it is an accurate and faithful translation of
        the original manuscripts.<\/p>\n<p>After almost 200 years of ongoing ministry,
        American Bible Society invites people to experience the life-changing message
        of the Bible. Offering an increasing range of innovative ministries to address
        core life questions and struggles, the Bible Society partners with Christian
        churches and national Bible societies to share God\u2019s Word both in the
        United States and around the globe.<\/p>\n<p>For more information, visit <a
        href=\"http:\/\/www.americanbible.org\/\">www.americanbible.org<\/a>.<\/p>
        \n<p>To purchase a copy of this translation, visit <a href=\"http:\/\/www.bibles.com\/\">www.bibles.com<\/a>.<\/p>","lang_name":"English
        (US)","lang_name_eng":"English","abbreviation":"CEV","updated_at":""}],"meta":{"fums":"<script>\nvar
        _BAPI=_BAPI||{};\nif(typeof(_BAPI.t)===''undefined''){\ndocument.write(''\\x3Cscript
        src=\"''+document.location.protocol+''\/\/d2ue49q0mum86x.cloudfront.net\/include\/fums.c.js\"\\x3E\\x3C\/script\\x3E'');}\ndocument.write(\"\\x3Cscript\\x3E_BAPI.t(''52659309472d47.40993040'');\\x3C\/script\\x3E\");\n<\/script><noscript><img
        src=\"https:\/\/d3a2okcloueqyx.cloudfront.net\/nf1?t=52659309472d47.40993040\"
        height=\"1\" width=\"1\" border=\"0\" alt=\"\" style=\"height: 0; width: 0;\"
        \/><\/noscript>","fums_tid":"52659309472d47.40993040","fums_js_include":"d2ue49q0mum86x.cloudfront.net\/include\/fums.c.js","fums_js":"var
        _BAPI=_BAPI||{};if(typeof(_BAPI.t)!=''undefined''){ _BAPI.t(''52659309472d47.40993040'');
        }","fums_noscript":"<img src=\"https:\/\/d3a2okcloueqyx.cloudfront.net\/nf1?t=52659309472d47.40993040\"
        height=\"1\" width=\"1\" border=\"0\" alt=\"\" style=\"height: 0; width: 0;\"
        \/>"}}}'
  recorded_at: Mon, 21 Oct 2013 20:48:09 GMT
- request:
    method: get
    uri: http://<%= api_key %>:X@bibles.org/v2/chapters/eng-CEV:Gen.2.js?include_marginalia=true
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript
    body:
      encoding: US-ASCII
      string: ! '{"response":{"chapters":[{"auditid":"0","label":"","text":"<div id=\"Gen.2\"
        class=\"chapter\">\n<p class=\"p\"><span class=\"v0_2_1\"><sup id=\"Gen.2.1\"
        class=\"v0_2_1\">1<\/sup>So the heavens and the earth and everything else
        were created.<\/span><\/p>\n<h4 class=\"s2\">The Seventh Day<\/h4>\n<p class=\"p\"><span
        class=\"v0_2_2\"><sup id=\"Gen.2.2\" class=\"v0_2_2\">2<\/sup><a href=\"#Gen.2.2!x.1\"
        id=\"link_Gen.2.2!x.1\" class=\"notelink\">-<\/a><a href=\"#Gen.2.2!x.2\"
        id=\"link_Gen.2.2!x.2\" class=\"notelink\">-<\/a> By the seventh day God had
        finished his work, and so he rested. <\/span><span class=\"v0_2_3\"><sup id=\"Gen.2.3\"
        class=\"v0_2_3\">3<\/sup>God blessed the seventh day and made it special,
        because on that day he rested from his work.<\/span><\/p>\n<p class=\"p\"><span
        class=\"v0_2_4\"><sup id=\"Gen.2.4\" class=\"v0_2_4\">4<\/sup>That''s how
        God created the heavens and the earth.<\/span><\/p>\n<h3 class=\"s1\">The
        Garden of Eden<\/h3>\n<p class=\"p\"><span class=\"v0_2_4\">When the LORD
        God made the heavens and the earth, <\/span><span class=\"v0_2_5\"><sup id=\"Gen.2.5\"
        class=\"v0_2_5\">5<\/sup>no grass or plants were growing anywhere. God had
        not yet sent any rain, and there was no one to work the land. <\/span><span
        class=\"v0_2_6\"><sup id=\"Gen.2.6\" class=\"v0_2_6\">6<\/sup>But streams<a
        href=\"#Gen.2.6!f.1\" id=\"link_Gen.2.6!f.1\" c[...]
[...]
