:markdown
	## About this Site
	This site is built with [Ruby on Rails](http://rubyonrails.org) and powered by the [Bible Search API](http://bibles.org/pages/api)

	Complete source code for this application can be found [on Github](https://github.com/americanbible/biblesearch-client).

	Interested in developing site like this or embedding the Bible on your website? See the [Bible Search Tools Site](http://tools.bibles.org) for more information.