#verse.scripture
	%h2= @verse.reference
	=raw @verse.text
	=link_to chapter_path(@verse.parent.chapter.id), :class=>"btn" do
		%i.icon-eye
		=@verse.parent.chapter.name
-unless @verse.crossreferences.blank?
	#verse.crossreferences
		=raw @verse.crossreferences
-unless @verse.footnotes.blank?
	#verse.footnotes
		=raw @verse.footnotes
#copyright
	=raw @verse.copyright
#fums
	=raw @fums
