// Place all the styles related to the chapters controller here.
// They will automatically be included in application.css.

//------------------------------
// Text header
//------------------------------
header.info {
    position: relative;
    h2 {font-family: $scripture-font;color: $black}
    .currentversion {
        text-transform: uppercase;
        display: block;
        margin-bottom: 1.8em;
        width: 90%;
        font-size: .8em;
        @media screen and (max-width: 40em) {
            font-size: .9em;
        }
    }
}//header.info

.nav.top {
    position: absolute;
    bottom: 10px;
    right: 0;
    a:first-child {
        margin-right: 20px
    }
    [class*='icon-'] {
        color: $black;
        &:hover{color: $blue;}
    }
    @media screen and (max-width: 40em) {display: none}
}
.nav.bottom {
    @include clearfix;
    margin: $block-margin;
    border-top: solid 1px $lightgray;
    border-bottom: solid 1px $lightgray;
    a {
        color: $black;
        width: 50%;
        height: 2.8em;
        line-height: 3.2em;
        float: left;
        display: block;
        &:hover, &:active {color: $blue;}
        i {
            font-size: 1em;
            @include box-sizing(border-box);
        }
        &.next {
            float: right;
            text-align: right;
        }
    }
}