// Place all the styles related to the chapters controller here.
// They will automatically be included in application.css.

//------------------------------
// Text header
//------------------------------
header.info {
    position: relative;
    h2 {font-family: $scripture-font;color: $black}
    .currentversion {
        text-transform: uppercase;
        display: block;
        margin-bottom: 1.8em;
        width: 90%;
        font-size: .8em;
        @media screen and (max-width: 40em) {
            font-size: .9em;
        }
    }
}//header.info

.nav.top {
    position: absolute;
    bottom: 10px;
    right: 0;
    a:first-child {
        margin-right: 20px
    }
    [class*='icon-'] {
        color: $black;
        &:hover{color: $blue;}
    }
    @media screen and (max-width: 40em) {display: none}
}
.nav.bottom {
    display: block;
    font-size: 0;
    margin-top: 20px;
    border-top: solid 1px $lightgray;
    border-bottom: solid 1px $lightgray;
    a {
        color: $black;
        &:hover, &:active {color: $blue;}
        i {
            display: inline-block;
            font-size: 16px;
            width: 50%;
            height: 44px;
            line-height: 44px;
            @include box-sizing(border-box);
        }
        &.next {text-align: right;}
    }
}